# 간단한 함수 만들기
### 함수의 기본 구조와 제공함수와 n제곱함수 만들기

In [3]:
#def my_func():
#기본 코드의 구조

In [4]:
def my_sq(x):
    return x**2

In [5]:
def my_exp(x,n):
    return x**n

In [6]:
print(my_sq(4))

16

In [7]:
print(my_exp(2,4))

16

# apply메서드 사용하기-기초

In [8]:
#시리즈와 apply 메서드

import pandas as pd
df=pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
#dataframe 은 인자를 딕셔너리 형식으로 가지며 키값이 열을 의미합니다.
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [9]:
print(df['a']**2)

0    100
1    400
2    900
Name: a, dtype: int64

In [10]:
#apply 메서드
sq=df['a'].apply(my_sq)
#열에대해 원래는 **2를 해줘야 하지만 apply로 함수를 적용시켜 열을 인자로 가진다.
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [11]:
ex=df['a'].apply(my_exp, n=2)
#인자가 두개이상일 때는 n=2 이런식으로 넣어준다.
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [12]:
ex=df['a'].apply(my_exp, n=3)
#인자가 두개이상일 때는 n=3 이런식으로 넣어준다.
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

# 데이터프레임과 apply 메서드

In [13]:
df=pd.DataFrame({'a':[10,20,30],'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [14]:
def print_me(x):
    print(x)

In [15]:
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [47]:
print(df.apply(print_me, axis=1))

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64
0    None
1    None
2    None
dtype: object

In [18]:
#print(df.apply(print_me, axis=1)) 행방향으로 10 40 이런식으로 한쌍씩
print(df['a'])
print(df['b'])

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

--------------------------------------------------------------------------------------------------------

In [19]:
def avg_3(x,y,z):
    return (x+y+z)/3

In [20]:
print(df.apply(avg_3))
#인자값이 부족하니 에러가 뜰 수 밖에 없습니다.

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [23]:
def avg_3_apply(col):
    x=col[0]
    y=col[1]
    z=col[2]
    return (x+y+z)/3

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [25]:
#일반적으로는 for 문을 사용합니다
def avg_3_apply(col):
    sum=0
    for item in col:
        sum=sum+item
    return sum/df.shape[0]

In [26]:
#행방향으로 data처리하는 함수
def avg_2_apply(row):
    sum=0
    for item in row:
        sum=sum+item
    return sum/df.shape[1]
print(df.apply(avg_2_apply, axis=1))#행방향으로 하니 1을 적용

# apply메서드 사용하기 - 고급

In [27]:
import seaborn as sns

titanic=sns.load_dataset("titanic")
#seaborn에서 dataset을 불러올 때는 load_dataset("이름") 이라고 한다.
print(titanic)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [30]:
import numpy as np

def count_missing(vec):
    null_vec=pd.isnull(vec)
    #데이터프레임에 isnull이 true를 반환하는 null값이 있으면
    #열마다 true와 false가 나타나고
    #그 열들의 덧셈!true 인것들만!(axis=0)
    null_count=np.sum(null_vec)
    #그 널값의 합을 카운트 함수에 저장해서 출력하라.
    return null_count

In [31]:
cmis_col=titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [37]:
#누락값의 비율을 계산합니다.
def prop_missing(vec):
    num=count_missing(vec)
    dem=vec.size
    return num/dem
    #vec.size는 모든열이 891

In [38]:
pmis_col=titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

# dataframe의 누락값을 처리하기-행방향

In [41]:
def prop_complete(vec):
    return 1-prop_missing(vec)
#null이 아닌 값들의 비율을 나타냅니다
#대신에 각 행을 기준으로 합니다.
#열마다 true와 false
cmis_row=titanic.apply(count_missing, axis=1)#null의 갯수를 나타냅니다.
pmis_row=titanic.apply(prop_missing, axis=1)#null을 가진 값들의 비율을 나타냅니다
pcom_row=titanic.apply(prop_complete, axis=1)#null이 아닌 값들의 비율을 나타냅니다

print(cmis_row.head(n=10))

0    1
1    0
2    1
3    0
4    1
5    2
6    0
7    1
8    1
9    1
dtype: int64

In [42]:
print(pmis_row.head())

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [43]:
print(pcom_row.head())

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [44]:
titanic['num_missing']=titanic.apply(count_missing, axis=1)
#새로운 열을 하나 추가해 NULL값의 갯수를 추가합니다.
#단 axis=1은 행 -----------------------으로 nan의 개수를 세는데
#단 axis=0은 열 default 세로로 쭉세줍니다.
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [46]:
print(titanic.loc[titanic.num_missing>1,:].sample(10))
#누락값이 1보다 큰 아이들의 데이터 .sample로 추출

     survived  pclass     sex  age  sibsp  parch      fare embarked  class  \
36          1       3    male  NaN      0      0    7.2292        C  Third
524         0       3    male  NaN      0      0    7.2292        C  Third
766         0       1    male  NaN      0      0   39.6000        C  First
826         0       3    male  NaN      0      0   56.4958        S  Third
485         0       3  female  NaN      3      1   25.4667        S  Third
557         0       1    male  NaN      0      0  227.5250        C  First
792         0       3  female  NaN      8      2   69.5500        S  Third
825         0       3    male  NaN      0      0    6.9500        Q  Third
846         0       3    male  NaN      8      2   69.5500        S  Third
578         0       3  female  NaN      1      0   14.4583        C  Third

       who  adult_male deck  embark_town alive  alone  num_missing
36     man        True  NaN    Cherbourg   yes   True            2
524    man        True  NaN    Cherbourg    no   True            2
766    man        True  NaN    Cherbourg    no   True            2
826    man        True  NaN  Southampton    no   True            2
485  woman       False  NaN  Southampton    no  False            2
557    man        True  NaN    Cherbourg    no   True            2
792  woman       False  NaN  Southampton    no  False            2
825    man        True  NaN   Queenstown    no   True            2
846    man        True  NaN  Southampton    no  False            2
578  woman       False  NaN    Cherbourg    no  False            2