# 데이터 그리기
## 시리즈 만들기

In [1]:
import pandas as pd
s=pd.Series(['banana',42])
print(s)
#시리즈 메서드에는 인자로 리스트가 들어감.

0    banana
1        42
dtype: object

In [2]:
s=pd.Series(['Wes McKinney','Creator of Pandas'], index=['Person','Who'])
print(s)
#index=속성으로 인덱스 이름 지정가능

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [3]:
s=pd.Series(['Wes McKinney','Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

# 데이터 프레임 만들기

In [4]:
scientists=pd.DataFrame({'Name':['Rosaline Frank','William Gosset'],
                        'Occupation':['Chemist','Statistician'],
                        'Born':['1920-07-25','1876-06-13'],
                        'Died':['1958-04-16','1937-10-16'],
                        'Age':[37,61]}
                       )
#데이터 프레임은 딕셔너리 형태로 인자가 들어간다.
#시리즈는 인자로 리스트가 들어갔음.
#name occupation born 등 열로 들어가고 그 값들은 행으로 들어간다.
print(scientists)

             Name    Occupation        Born        Died  Age
0  Rosaline Frank       Chemist  1920-07-25  1958-04-16   37
1  William Gosset  Statistician  1876-06-13  1937-10-16   61

In [5]:
scientists = pd.DataFrame( data={'Occupation': ['Chemist', 'Statistician'], 
                                  'Born': ['1920-07-25', '1876-06-13'], 
                                  'Died': ['1958-04-16', '1937-10-16'],
                                  'Age': [37, 61]},
                            index=['Rosaline Franklin', 'William Gosset'],
                            columns=['Occupation', 'Born', 'Age', 'Died']) 
#딕셔너리 형태로 들어간 DATA 그리고 series처럼 index를 지정하는 것이 가능
#columns 순으로 열이 나열됨
#data를 제외한 나머지는 리스트 형식으로 인자가 들어가야됨
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [6]:
from collections import OrderedDict
#여기서 ordereddict는 자료형인데 원래 dic형태는 순서가 없다.

scientists=pd.DataFrame(OrderedDict([
    ('Name',['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age',[37,61])
    ])
    )
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 시리즈 다루기

In [7]:
scientists=pd.DataFrame(
    data={'Occupation':['Chemist', 'Statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-16', '1937-10-16'],
        'Age':[37,61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died'])

first_row=scientists.loc['William Gosset']
print(first_row)
#열에 대한 정보를 series형태로 출력함

print(type(first_row))

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object
<class 'pandas.core.series.Series'>

In [8]:
print(first_row.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [9]:
print(first_row.values)

['Statistician' '1876-06-13' 61 '1937-10-16']

In [10]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

# 시리즈의 기초 통게 메서드 사용하기

In [11]:
ages=scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [12]:
print(ages.mean())

49.0

In [13]:
print(ages.min())

37

In [14]:
print(ages.max())

61

In [15]:
print(ages.std())
#표준편차

16.97056274847714

# 시리즈 다루기 응용
## 시리즈와 불린 추출 사용하기

In [16]:
scientists=pd.read_csv('./data/scientists.csv')

ages=scientists['Age']

print(ages[ages>ages.mean()])
#만약 ages라는 Age 열만 뽑아온 시리즈 타입의 데이터에서 ages의 열 중에
#평균보다 높은 ages의 열을 추출해라

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [17]:
print(ages.mean())

59.125

In [18]:
print(ages.max())

90

In [19]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [20]:
print(type(ages>ages.mean()))

<class 'pandas.core.series.Series'>

In [21]:
manual_bool_values=[True, True, False, False, True, True, False, True ]
print(ages[manual_bool_values])
#리스트 중에서 순서대로 t면 출력 f면 비출력으로 열을 불린 추출할 수도 있다.

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 벡터와 스칼라로 브로드캐스팅 수행하기

In [22]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [23]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [24]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [25]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [26]:
#길이가 서로다른 벡터의 연산
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [27]:
print(ages+pd.Series([1,100]))
#NaN은 Not A Number 이라는 뜻
#시리즈의 연산은 인덱스가 맞는 값끼리만 연산한다.
#나머지는 연산하지 않는다
#즉 인덱스가 일치하는 아이들끼리만 연산을 합니다.

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [28]:
rev_ages=ages.sort_index(ascending=False)
#ascending이 false이면 decending으로 정렬합니다.
#sort index는 정렬하는 메서드입니다.
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [29]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [30]:
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터 프레임 다루기

In [31]:
print(scientists[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [32]:
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [33]:
print(scientists.loc[[True, True, False, True, False, False, False, False]])

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [34]:
print(scientists*2)
#그냥 dataframe에 *2를 해주면 문자열들이 다 곱하기 2가 되었다.

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# Series와 dataframe의 데이터 처리하기

In [35]:
print(scientists['Born'].dtype)
#pandas 에서는 object타입이 실제 파이썬에서는 string 형식으로 있다.

object

In [36]:
print(scientists['Died'].dtype)
#pandas 에서는 object타입이 실제 파이썬에서는 string 형식으로 있다.

object

In [37]:
born_datetime=pd.to_datetime(scientists['Born'],format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [38]:
died_datetime=pd.to_datetime(scientists['Died'],format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

# 데이터 프레임에 각각의 값을 새로운 열로 추가

In [57]:
scientists['born_dt'],scientists['died_dt']=(born_datetime,died_datetime)
print(scientists.head())
print(type(scientists['died_dt']))
print(scientists['died_dt'].dtype)

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   56  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   41         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   77       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   90     Biologist 1907-05-27

     died_dt age_days_dt
0 1958-04-16  13779 days
1 1937-10-16  22404 days
2 1910-08-13  32964 days
3 1934-07-04  24345 days
4 1964-04-14  20777 days
<class 'pandas.core.series.Series'>
datetime64[ns]

In [40]:
print(scientists.shape)

(8, 7)

In [59]:
scientists['age_days_dt']=(scientists['died_dt']-scientists['born_dt'])
print(scientists)
print(scientists['age_days_dt'].dtype)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days
timedelta64[ns]

In [42]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [43]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])
#a가 생략되거나 None이면, 현재 시스템 시간이 사용됩니다. 운영 체제에서 임의성 소스(randomness sources)를 제공하면
#, 시스템 시간 대신 사용됩니다 (가용성에 대한 자세한 내용은 os.urandom() 함수를 참조하십시오).

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

C:\ProgramData\Anaconda3\lib\random.py:307: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

# 프레임의 임의의 열 삭제하기

In [44]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [45]:
scientists_dropped=scientists.drop(['Age'],axis=1)
#제거할 데이터ㅡ이 열 axis=1 열을 삭제하겠다는 뜻
#삭제한 결과를 반환
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 피클로 저장하기, 피클로 데이터불러오기
## 데이터를 저장하고 불러옵니다.

In [46]:
names = scientists['Name'] 
names.to_pickle('./output/scientists_names_series.pickle')
#시리즈 저장할때
#바이너리 시리얼라이즈로 객체로 저장하는 방식
#스프레드시트보다 더 작은 용량으로 저장이 가능합니다.
#저장경로를 문자열인자로 줍니다.
#to_pickle
#read_pickle

In [47]:
scientists.to_pickle('./output/scientists_df.pickle')
#데이터프레임 저장할때

In [48]:
#데이터를 불러옵니다.
scientists.to_pickle=pd.read_pickle('./output/scientists_names_series.pickle')
print(scientists.to_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [49]:
scientists_from_pickle=pd.read_pickle('./output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# tsv(탭 구분) csv(쉼표 구분) 파일로 저장하기

In [50]:
names.to_csv('./output/scientist_names_series.csv')
scientists.to_csv('./output/scientists_df.tsv',sep='\t')
#sep='\t' 탭으로 구분된 tsv라서 탭으로 구분하려고 구분자를 넣어줌

# 엑셀파일로 저장

In [51]:
#pip install xlwt
#pip install openpyxl

In [52]:
names_df=names.to_frame()
#to_frame 메서드를 사용해서 데이터프레임으로 변환한다.

In [53]:
import xlwt
names_df.to_excel('./output/scientists_names_series_df.xls')

In [54]:
import openpyxl
names_df.to_excel('./output/scientists_names_series_df.xlsx')